
<div  class="about" furyPage furyPagePadding furyScrollbar fxLayout="column" [fxLayoutGap]="gap"  style="background-color:white">
 <fury-breadcrumbs current="About" ></fury-breadcrumbs>
  <!--   <fury-breadcrumbs current="About" [crumbs]="['About2']"></fury-breadcrumbs> -->
  <div class="container-fluid text-center pb-5">
    <div style="text-align:center">
     <!-- <img src="assets/img/matchtech_dark.png" alt="logo"> -->
      <br> <br> <br>
      <h1></h1>
      <h1 >
        Welcome to MatchTech !!
      </h1>
      <h1>
        Your resource to finding a divine match for your clients, b"h.
      </h1>

    </div>
  </div>
</div>

