<div class="simple-table" furyPage furyPagePadding furyScrollbar>
  <fury-breadcrumbs current="Archived Singles"></fury-breadcrumbs>

  <div class="list-table">
    <fury-list name="Archived Singles" [columns]="columns" (filterChange)="onFilterChange($event)" (columnVisibilityChange)="onColVisibleChange($event)">
      <div class="actions">
        <button class="create" (click)="createSingle()" type="button" style="float:right" mat-mini-fab color="primary">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <mat-paginator class="paginator" [pageSize]="pageSize" [showFirstLastButtons]="true"
                     [pageSizeOptions]="[5, 10, 15, 25, 40, 100]"
                     (page)="pageEvent = pageEventHandler($event)"></mat-paginator>
      <div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="24px">

        <table [class.table-hover]="true" [class.table-striped]="false"
               [class.table-condensed]="true" [class.table-bordered]="true" width="100%"
               mat-table [dataSource]="dataSource" matSort matSortActive="identity.lastName" matSortDirection="asc"
               matSortDisableClear>

          <ng-container matColumnDef="identity.firstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> FIRST NAME</th>
            <td mat-cell *matCellDef="let row"> {{row.identity.firstName}}</td>
          </ng-container>

          <ng-container matColumnDef="identity.lastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> LAST NAME</th>
            <td mat-cell *matCellDef="let row"> {{row.identity.lastName}}</td>
          </ng-container>

          <ng-container matColumnDef="identity.sex">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> SEX</th>
            <td mat-cell *matCellDef="let row"> {{row.identity.sex}}</td>
          </ng-container>

          <ng-container matColumnDef="identity.age">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> AGE</th>
            <td mat-cell *matCellDef="let row"> {{row.identity.age}}</td>
          </ng-container>

          <ng-container matColumnDef="identity.maritalStatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> STATUS</th>
            <td mat-cell *matCellDef="let row"> {{row.identity.maritalStatus}}</td>
          </ng-container>

          <ng-container matColumnDef="religioEthnic.hashkafa">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> HASHKAFA</th>
            <td mat-cell *matCellDef="let row"> {{row.religioEthnic.hashkafa}}</td>
          </ng-container>

          <ng-container matColumnDef="religioEthnic.ethnicity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ETHNICITY</th>
            <td mat-cell *matCellDef="let row"> {{row.religioEthnic.ethnicity}}</td>
          </ng-container>

          <ng-container matColumnDef="religioEthnic.ethnicityAdditional">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ETHNICITY ADDL</th>
            <td mat-cell *matCellDef="let row"> {{row.religioEthnic.ethnicityAdditional}}</td>
          </ng-container>

          <ng-container matColumnDef="religioEthnic.convert">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> CONVERT</th>
            <td mat-cell *matCellDef="let row"> {{row.religioEthnic.convert}}</td>
          </ng-container>

          <ng-container matColumnDef="religioEthnic.cohen">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> COHEN</th>
            <td mat-cell *matCellDef="let row"> {{row.religioEthnic.cohen}}</td>
          </ng-container>

          <ng-container matColumnDef="religioEthnic.primaryActivity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> PRIMARY ACTIVITY</th>
            <td mat-cell *matCellDef="let row"> {{row.religioEthnic.primaryActivity}}</td>
          </ng-container>

          <ng-container matColumnDef="residence.city">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> RESIDENCE CITY</th>
            <td mat-cell *matCellDef="let row"> {{row.residence.city}}</td>
          </ng-container>

          <ng-container matColumnDef="residence.country">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> COUNTRY</th>
            <td mat-cell *matCellDef="let row"> {{row.residence.country}}</td>
          </ng-container>

          <ng-container matColumnDef="physical.smoker">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> SMOKER</th>
            <td mat-cell *matCellDef="let row"> {{row.physical.smoker}}</td>
          </ng-container>

          <ng-container matColumnDef="physical.height">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> HEIGHT</th>
            <td mat-cell *matCellDef="let row"> {{row.physical.height}}</td>
          </ng-container>

          <ng-container matColumnDef="physical.build">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> BUILD</th>
            <td mat-cell *matCellDef="let row"> {{row.physical.build}}</td>
          </ng-container>

          <ng-container matColumnDef="physical.description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> DESCRIPTION</th>
            <td mat-cell *matCellDef="let row"> {{row.physical.description}}</td>
          </ng-container>

          <ng-container matColumnDef="contact.name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> CONTACT NAME</th>
            <td mat-cell *matCellDef="let row"> {{row.contact.name}}</td>
          </ng-container>

          <ng-container matColumnDef="contact.relationship">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> CONTACT RELATION</th>
            <td mat-cell *matCellDef="let row"> {{row.contact.relationship}}</td>
          </ng-container>

          <ng-container matColumnDef="contact.primaryPhone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> CONTACT PHONE</th>
            <td mat-cell *matCellDef="let row"> {{row.contact.primaryPhone}}</td>
          </ng-container>

          <ng-container matColumnDef="contact.secondaryPhone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> CONTACT PHONE (2ND)</th>
            <td mat-cell *matCellDef="let row"> {{row.contact.secondaryPhone}}</td>
          </ng-container>

          <ng-container matColumnDef="contact.email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> CONTACT EMAIL</th>
            <td mat-cell *matCellDef="let row"> {{row.contact.email}}</td>
          </ng-container>

          <ng-container matColumnDef="source.name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> SOURCE NAME</th>
            <td mat-cell *matCellDef="let row"> {{row.source.name}}</td>
          </ng-container>

          <ng-container matColumnDef="source.email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> SOURCE EMAIL</th>
            <td mat-cell *matCellDef="let row"> {{row.source.email}}</td>
          </ng-container>

          <ng-container matColumnDef="source.phone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> SOURCE PHONE</th>
            <td mat-cell *matCellDef="let row"> {{row.source.phone}}</td>
          </ng-container>

          <ng-container matColumnDef="occupation">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> OCCUPATION / INSTITUTE</th>
            <td mat-cell *matCellDef="let row"> {{row.occupation}}</td>
          </ng-container>

          <ng-container matColumnDef="specialNeeds">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> SPECIAL NEEDS</th>
            <td mat-cell *matCellDef="let row"> {{row.specialNeeds}}</td>
          </ng-container>

          <ng-container matColumnDef="personalityRequirements">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> PERSONALITY REQUIREMENTS</th>
            <td mat-cell *matCellDef="let row"> {{row.personalityRequirements}}</td>
          </ng-container>

          <ng-container matColumnDef="pastEducation">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> PAST EDUCATION</th>
            <td mat-cell *matCellDef="let row"> {{row.pastEducation}}</td>
          </ng-container>

          <ng-container matColumnDef="comments">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> COMMENTS</th>
            <td mat-cell *matCellDef="let row"> {{row.comments}}</td>
          </ng-container>

          <ng-container matColumnDef="created">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> CREATED</th>
            <td mat-cell *matCellDef="let row"> {{toDateString(row.created)}}</td>
          </ng-container>

          <ng-container matColumnDef="updated">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> UPDATED</th>
            <td mat-cell *matCellDef="let row"> {{toDateString(row.updated)}}</td>
          </ng-container>

          <!-- actions Column -->

          <ng-container matColumnDef="actions">
            <th mat-header-cell class="actions-cell" *matHeaderCellDef style="width:5%"> ACTIONS</th>
            <td mat-cell class="actions-cell" *matCellDef="let row">
              <span class="fury-mobile-label"></span>
              <button type="button" mat-icon-button [matMenuTriggerFor]="actionsMenu"
                      (click)="$event.stopPropagation()">
                <mat-icon>more_horiz</mat-icon>
              </button>

              <mat-menu #actionsMenu="matMenu" yPosition="below" xPosition="before">
                <button (click)="viewArchive(row)" mat-menu-item>
                  <span>View</span>
                </button>
                <button (click)="deleteArchive(row)" mat-menu-item>
                  <span>Delete</span>
                </button>
              </mat-menu>

            </td>
          </ng-container>

          <!-- Header and Row Declarations -->

          <tr mat-header-row *matHeaderRowDef="visibleColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: visibleColumns;" (click)="viewArchive(row)" class="clickable"
              [style.background]="highlightedRows.indexOf(row) != -1 ? 'lightgrey' : ''"></tr>
        </table>
      </div>
    </fury-list>
  </div>
</div>
