<div class="login"
     fxLayout="row"
     fxLayoutAlign="center center">
    <div class="session-card">
        <div class="header"
             fxLayout="column"
             fxLayoutAlign="center center">
            <img src="assets/img/icon.png">
        </div>
        <div class="content"
             fxLayout="column"
             fxLayoutGap="24px"
             [formGroup]="form">
            <div fxFlex="grow"
                 fxLayout="column"
                 fxLayoutGap="8px">
                <mat-form-field fxFlex="grow">
                    <mat-placeholder>User Name</mat-placeholder>
                    <input matInput
                           required
                           formControlName="username">
                </mat-form-field>
                <mat-form-field fxFlex="grow">
                    <mat-placeholder>Password</mat-placeholder>
                    <input matInput
                           [type]="inputType"
                           formControlName="password" (keypress)="eventHandler($event)">
                    <button *ngIf="!visible"
                            type="button"
                            mat-icon-button
                            matSuffix
                            (click)="show()">
                        <mat-icon>visibility</mat-icon>
                    </button>
                    <button *ngIf="visible"
                            type="button"
                            mat-icon-button
                            matSuffix
                            (click)="hide()">
                        <mat-icon>visibility_off</mat-icon>
                    </button>
                    <mat-hint>Try clicking the eye to toggle the visibility.</mat-hint>
                </mat-form-field>
            </div>

            <div class="extra-options"
                 fxLayout="row"
                 fxLayoutAlign="space-between center">
                <mat-checkbox [(ngModel)]="rememberMeChecked" [ngModelOptions]="{standalone: true}" class="remember-me" >Remember Me</mat-checkbox>
              <!-- (click)="userSelectClick(user.id) -->
                <a class="forgot-password"
                   [routerLink]="['/forgot-password']">Forgot Password?</a>
            </div>
            <button type="button"
                    color="primary"
                    mat-raised-button
                    [disabled]="form.invalid"
                    (click)="send()">
                SIGN IN
            </button>
<!--
            <p class="extra">
              Hello there
                Don't have an account?<br/>
                <a [routerLink]="['/register']">Click here to create one</a>
            </p>
-->
        </div>
    </div>
</div>
