<div class="form-elements" furyPage furyPagePadding furyScrollbar fxLayout="column" [fxLayoutGap]="gap">
  <fury-breadcrumbs current="Contact" ></fury-breadcrumbs>
  <br>
  <br>
  <br>
    <br>
  <div class=container6>

    <table>
      <tr><td>Rayim Ahuvim contact</td></tr>
      <tr><td>
        צור קשר עם רים אהובים</td></tr>
      <tr><td  height=30></td><td></td></tr>
      <tr>
        <td>Name:</td><td><b>Jennifer Itzhak</b></td>
      </tr>
      <tr>
        <td>Email:</td><td><b>jennifer@gmail.com</b></td>
    </tr>
  </table>
  </div>


</div>
