div.container6 {
  height: 10em;
  display: flex;
  }
div.container6 p {
  margin: 0 }

.message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

.message-container > * {
  width: 80%;
}

