<div class="form-elements" furyPage furyPagePadding furyScrollbar fxLayout="column" [fxLayoutGap]="gap">
  <fury-breadcrumbs current="Contact" ></fury-breadcrumbs>
  <br>
  <br>
  <br>
    <br>
  <div class=container6>

    <table>
      <tr><td>Rayim Ahuvim contact</td></tr>
      <tr><td>
        צור קשר עם רים אהובים</td></tr>
      <tr><td width=100; height=30></td><td></td></tr>
      <tr>
        <td>Email: <b>Rayimahuvim18@gmail.com</b></td><td></td>
    </tr>
  </table>
  </div>


</div>
