<h2 mat-dialog-title>{{title}}</h2>
<div class="form-wizard" furyPage furyScrollbar fxFlex="grow" fxLayout="column" fxLayoutAlign="start center">
  <mat-horizontal-stepper #horizontalStepper="matHorizontalStepper" [linear]="isNew">
    <mat-step [stepControl]="identityFormGroup">
      <form [formGroup]="identityFormGroup">
        <ng-template matStepLabel>Identity</ng-template>

        <!-- <div class="heading">Basic Identity</div>-->
        <div class="content" fxLayout="column" fxLayoutGap="18px">
          <div fxLayout.gt-sm="row" fxLayoutGap.gt-sm="16px">
            <mat-form-field>
              <mat-placeholder>Last Name</mat-placeholder>
              <input matInput formControlName="lastName" required>
              <!--<mat-hint>Last name of Single</mat-hint>-->
            </mat-form-field>

            <mat-form-field fxFlex="grow">
              <mat-placeholder>First Name</mat-placeholder>
              <input matInput formControlName="firstName" required>
              <!-- <mat-hint>First name of Single</mat-hint>-->
            </mat-form-field>
          </div>

          <mat-form-field>
            <input matInput required formControlName="age" placeholder="Age" type="text">
          </mat-form-field>

          <div class="content" fxLayout="column" fxLayoutGap="8px">
            <mat-radio-group formControlName="sex" fxLayout="row" fxLayoutGap="16px">
              <mat-hint style="font-size: 12px">Gender *</mat-hint>
              <mat-radio-button value="Male">Male</mat-radio-button>
              <mat-radio-button value="Female">Female</mat-radio-button>
            </mat-radio-group>
          </div>

          <div class="content" fxLayout="column" fxLayoutGap="8px">
            <mat-radio-group formControlName="maritalStatus" fxLayout="row" fxLayoutGap="16px">
              <mat-hint style="font-size: 12px">Status *</mat-hint>
              <mat-radio-button value="Single">Single</mat-radio-button>
              <mat-radio-button value="Divorced">Divorced</mat-radio-button>
              <mat-radio-button value="Widowed">Widowed</mat-radio-button>
            </mat-radio-group>
          </div>


          <div *ngIf="!isNew">
            <div fxLayout="row">
              <div style="width:80px">Created:</div><div><mat-label>{{dateCreated}}</mat-label></div>
            </div>
            <div fxLayout="row">
              <div style="width:80px">Modified:</div><div><mat-label>{{dateUpdate}}</mat-label></div>
            </div>



          </div>
          <!-- </mat-form-field> -->

        <div class="mat-dialog-actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
          <div style="padding-right:40px">
          <button mat-raised-button type="button"  color="primary" (click)="closeDialog()" >CANCEL
          </button>
          </div>
          <button  mat-raised-button type="button" (click)="horizontalStepper.reset()"
                  [disabled]="identityFormGroup.pristine"
                  color="primary">RESET
          </button>
          <button mat-raised-button matStepperNext color="primary" [disabled]="identityFormGroup.invalid">
            NEXT
          </button>

          <div *ngIf="!isNew" style="padding-left:40px">
            <button  mat-raised-button  color="primary" (click)="submit()"
                    [disabled]="identityFormGroup.invalid" >
              {{commitLabel}}
            </button>
          </div>
        </div>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="backgroundFormGroup">
      <form [formGroup]="backgroundFormGroup">
        <ng-template matStepLabel>Background</ng-template>

        <!--<div style="padding-bottom: 18px;" class="heading">Religious/Ethnic/Professional Background</div>-->

        <div class="content" fxLayout="column" fxLayoutGap="18px">
          <mat-radio-group formControlName="hashkafa" fxLayout="row" fxLayoutGap="16px">
            <mat-hint style="font-size: 12px">"Hashkafa" *</mat-hint>
            <mat-radio-button value="Haredi">Haredi</mat-radio-button>
            <mat-radio-button value="Dati Leumi">Dati Leumi</mat-radio-button>
            <mat-radio-button value="Hardal">Hardal</mat-radio-button>
            <mat-radio-button value="Masorati">Masorati</mat-radio-button>
          </mat-radio-group>

          <mat-radio-group formControlName="ethnicity" fxLayout="row" fxLayoutGap="16px">
            <mat-hint style="font-size: 12px">Ethnicity *</mat-hint>
            <mat-radio-button value="Sefardi">Sefardi</mat-radio-button>
            <mat-radio-button value="Ashkenazi">Ashkenazi</mat-radio-button>
            <mat-radio-button value="Hasidish">Hasidish</mat-radio-button>
            <mat-radio-button value="Mixed">Mixed</mat-radio-button>
          </mat-radio-group>

          <mat-radio-group formControlName="primaryActivity" fxLayout="row" fxLayoutGap="16px">
            <mat-hint style="font-size: 12px">Primary Activity *</mat-hint>
            <mat-radio-button value="Working">Working</mat-radio-button>
            <mat-radio-button value="Learning">Learning</mat-radio-button>
            <mat-radio-button value="Koveah Itim">Koveah Itim</mat-radio-button>
            <mat-radio-button value="Other">Other</mat-radio-button>
          </mat-radio-group>
          <mat-form-field fxFlex="grow">
            <input matInput required formControlName="occupation" placeholder="Occupation / Institute" type="text">
          </mat-form-field>
          <div fxLayout.gt-sm="row" fxLayoutGap.gt-sm="16px">

            <mat-form-field fxFlex="grow">
              <input matInput formControlName="pastEducation" placeholder="High School Education">
              <!-- <mat-hint>First name of Single</mat-hint>-->
            </mat-form-field>
            <mat-form-field fxFlex="grow" >
              <input matInput formControlName="ethnicityAdditional" placeholder="Additional Ethnicity">
            </mat-form-field>
          </div>


          <mat-checkbox class="checkbox" formControlName="cohen">
            Cohen
          </mat-checkbox>
          <mat-checkbox class="checkbox" formControlName="convert">
            Convert
          </mat-checkbox>
        </div>

        <div class="mat-dialog-actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
          <div style="padding-right:40px">
            <button mat-raised-button type="button"  color="primary"  (click)="closeDialog()" >CANCEL
            </button>
          </div>
          <button mat-button type="button" matStepperPrevious color="primary">PREVIOUS</button>
          <button mat-raised-button matStepperNext color="primary" [disabled]="backgroundFormGroup.invalid">NEXT
          </button>
          <div *ngIf="!isNew"  style="padding-left:40px">
            <button mat-raised-button matStepperNext color="primary" (click)="submit()"
                    [disabled]="backgroundFormGroup.invalid">
              {{commitLabel}}
            </button>
          </div>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="residenceContactFormGroup">
      <form [formGroup]="residenceContactFormGroup">
        <ng-template matStepLabel>Residence & Contact</ng-template>

        <!-- <div class="heading">Residence & Contact</div> -->
        <div class="content" fxLayout="column" fxLayoutGap="18px">
          <div fxLayout.gt-sm="row" fxLayoutGap.gt-sm="16px">
            <mat-form-field>
              <mat-placeholder>City Residence</mat-placeholder>
              <input matInput formControlName="city">
            </mat-form-field>

            <mat-form-field fxFlex="grow">
              <mat-placeholder>Country</mat-placeholder>
              <input matInput formControlName="country">
              <!-- <mat-hint>First name of Single</mat-hint>-->
            </mat-form-field>
          </div>

          <div fxLayout.gt-sm="row" fxLayoutGap.gt-sm="16px">
            <mat-form-field>
              <mat-placeholder>Contact Name</mat-placeholder>
              <input matInput formControlName="name" required>
            </mat-form-field>

            <mat-form-field fxFlex="grow">
              <mat-placeholder>Relationship</mat-placeholder>
              <input matInput formControlName="relationship">
              <!-- <mat-hint>First name of Single</mat-hint>-->
            </mat-form-field>
          </div>

          <div fxLayout.gt-sm="row" fxLayoutGap.gt-sm="16px">
            <mat-form-field>
              <mat-placeholder>Primary Phone</mat-placeholder>
              <input matInput formControlName="primaryPhone" required>
            </mat-form-field>

            <mat-form-field fxFlex="grow">
              <mat-placeholder>Secondary Phone</mat-placeholder>
              <input matInput formControlName="secondaryPhone">
            </mat-form-field>
          </div>
          <mat-form-field>
            <input matInput formControlName="email" placeholder="Email" type="text">
          </mat-form-field>
        </div>

        <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
          <div style="padding-right:40px">
            <button mat-raised-button type="button"  color="primary"  (click)="closeDialog()" >CANCEL
            </button>
          </div>
          <button mat-button type="button" matStepperPrevious color="primary">PREVIOUS</button>
          <button mat-raised-button matStepperNext color="primary" [disabled]="residenceContactFormGroup.invalid">NEXT
          </button>
          <div *ngIf="!isNew"  style="padding-left:40px">
            <button mat-raised-button matStepperNext color="primary" (click)="submit()"
                  [disabled]="residenceContactFormGroup.invalid">
              {{commitLabel}}
            </button>
          </div>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="physicalFormGroup">
      <form [formGroup]="physicalFormGroup">
        <ng-template matStepLabel>Physical</ng-template>

        <!--          <div class="heading">Physical Attributes & Personality Requirements</div> -->
        <div class="content" fxLayout="column" fxLayoutGap="18px">
            <mat-form-field>
              <mat-placeholder>Height (cm)</mat-placeholder>
              <input matInput formControlName="height">
            </mat-form-field>

            <mat-form-field fxFlex="grow">
              <mat-placeholder>Build</mat-placeholder>
              <input matInput formControlName="build">
            </mat-form-field>

          <mat-form-field fxFlex="grow">
            <mat-placeholder>Description</mat-placeholder>
            <input matInput formControlName="description">
          </mat-form-field>

          <mat-form-field fxFlex="grow">
            <mat-placeholder>Personality Requirements</mat-placeholder>
            <input matInput formControlName="personalityRequirements">
          </mat-form-field>

          <mat-form-field fxFlex="grow">
            <mat-placeholder>Special Needs</mat-placeholder>
            <input matInput formControlName="specialNeeds">
          </mat-form-field>

          <mat-checkbox class="checkbox" formControlName="smoker">
            Smoker
          </mat-checkbox>
        </div>


          <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
            <div style="padding-right:40px">
              <button mat-raised-button type="button"  color="primary"   (click)="closeDialog()">CANCEL
              </button>
            </div>
          <button mat-button type="button" matStepperPrevious color="primary">PREVIOUS</button>
          <button mat-raised-button matStepperNext color="primary" [disabled]="physicalFormGroup.invalid">NEXT
          </button>
          <div *ngIf="!isNew"  style="padding-left:40px">
            <button mat-raised-button matStepperNext color="primary" (click)="submit()"
                    [disabled]="residenceContactFormGroup.invalid">
              {{commitLabel}}
            </button>
          </div>
        </div>

      </form>
    </mat-step>

    <mat-step [stepControl]="sourceFormGroup">
      <form [formGroup]="sourceFormGroup">
        <ng-template matStepLabel>Source</ng-template>

        <!--          <div class="heading">Source of this Single's Info</div> -->

        <div class="content" fxLayout="column" fxLayoutGap="18px">
          <mat-form-field>
            <mat-placeholder>Source Name</mat-placeholder>
            <input matInput formControlName="name">
          </mat-form-field>

          <mat-form-field fxFlex="grow">
            <mat-placeholder>Email</mat-placeholder>
            <input matInput formControlName="email">
          </mat-form-field>

          <mat-form-field fxFlex="grow">
            <mat-placeholder>Phone</mat-placeholder>
            <input matInput formControlName="phone">
          </mat-form-field>

          <!-- <mat-form-field fxFlex="grow"> -->
            <!--<mat-placeholder>Comments</mat-placeholder> -->
            <!--<input matInput formControlName="comments"> -->
          <div style="maxWidth:600px">
            <textarea mdInput mdTextareaAutosize  rows="6" cols="80" placeholder="Comments" id="comments" formControlName="comments"></textarea>
          </div>
          <!-- </mat-form-field> -->
        </div>
        <div class="actions"  style="padding-top:16px" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
          <div style="padding-right:40px">
            <button mat-raised-button type="button"  color="primary"  (click)="closeDialog()" >CANCEL
            </button>
          </div>
          <button mat-button type="button" matStepperPrevious color="primary">PREVIOUS</button>
          <div style="padding-left:40px">
            <button mat-raised-button matStepperNext color="primary" (click)="submit()"
                    [disabled]="sourceFormGroup.invalid">
              {{commitLabel}}
            </button>
          </div>
        </div>
      </form>
    </mat-step>

  </mat-horizontal-stepper>
</div>
