<div class="form-elements" furyPage furyPagePadding furyScrollbar fxLayout="column" [fxLayoutGap]="gap">
  <fury-breadcrumbs current="Contact" ></fury-breadcrumbs>
  <br>
  <br>
  <br>
    <br>
  <div class=container6>

    <table>
      <tr><td>MatchTech contact:</td></tr>
      <tr><td  height=30></td><td></td></tr>
      <tr>
        <td>Name:</td><td><b>Jennifer Itzhak</b></td>
      </tr>
      <tr>
        <td>Phone:</td><td><b>054-11111111</b></td>
      </tr>
      <tr>
        <td>Email:</td><td><b>jennifer@gmail.com</b></td>
    </tr>
  </table>
  </div>


</div>
